<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>C & C - Cars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>Cool Cars</h1>
        <p class="title">2010 Mercedes Benz CL65</p>
        <img class="car-pic" src="../images/2010-mercedes-benz-cl65.jpg" alt="2010 Mercedes Benz CL65">
        <p class="title">2013 Hyundai Genesis Coupe</p>
        <img class="car-pic" src="../images/2013-hyundai-genesis-coupe.jpg" alt="2013 Hyundai Genesis Coupe">
        <p class="title">2018 Jeep Wrangler</p>
        <img class="car-pic" src="../images/2018-jeep-wranglers.jpg" alt="2018 Jeep Wranglers">
        <p class="title">2018 Chevrolet Corvette Z06</p>
        <img class="car-pic" src="../images/2018-chevrolet-corvette-z06.jpg" alt="2018 Chevrolet Corvette Z06">
    </body>
</html>