<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>C & C - Cats</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>Cats (little hellions)</h1>
        <p class="title">Anti-Cats</p>
        <img class="cat-pic" src="../images/anti-cats.jpg" alt="Anti-Cats">
        <p class="title">Hellion Cat</p>
        <img class="cat-pic" src="../images/cat-hellion.jpg" alt="Hellion Cat">
    </body>
</html>